.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.titulo{
	text-align: center;
}

.card-1{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 320px;
	width: 260px;
	background-color: #adebad;
	border-radius: 20px;
	margin: 10px;
}

.info-1{
	display: flex;
}