.column{
	float: left;
	height: 300px;
}

/* Limpar floats após as colunas */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.primeiro, .terceiro{
	width: 25%;
}

.primeiro{
	background-color: #aaa;
}

.segundo{
	width: 50%;
	background-color: #bbb;
}

.terceiro{
	background-color: #ccc;
}

