body {
    font-family: sans-serif;
}

#container {
    border: 2px solid #ccc;
    padding: 15px;
    margin-top: 10px;
}

/* Estilo que será aplicado ao elemento criado via JS */
.elemento-criado {
    background-color: #e0f7fa;
    color: #00796b;
    border-left: 5px solid #00796b;
    padding: 10px;
    margin-top: 10px;
}