.container{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.pnome, .unome, .paisNascimento, .idade, .texto {
	width: 100%; /* Pega o espaco todo da direita a esquerda */
	padding: 12px; /* minimo de espacamento */
	border: 1px solid #ccc; /* bordas cinzas */
	border-radius: 4px; /* Deixa as bordas circulares */
	box-sizing: border-box; /* faz com que o padding e o width estejam no lugar */
	margin-top: 6px; /* Adicionar uma margin no topo */
	margin-bottom: 16px; /* Adiciona uma margin em baixo */
	resize: vertical; /* permite ao usuario verticalmente redirecionar o textarea */
}

.botaoSubmit {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.botaoSubmit:hover {
	background-color: #45a049;
}

.erro-validacao {
	border: 1px solid red !important;
}