@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(6, 196, 6);
    padding: .8rem 5rem;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

h1 {
    font-size: 1.5rem;
}

.brand {
    text-transform: uppercase;
    color: rgb(6, 196, 6);
}

nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.navlinks {
    display: flex;
}

.navlinks li {
    list-style: none;
    padding-inline-start: 5rem;
}

.navlinks li a:not(.active) {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    transition: all .3s ease-in-out;
}

.active {
    font-size: 1.3rem;
    color: rgb(6, 196, 6);
    border-bottom: 1px solid rgb(6, 196, 6);
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.navlinks li a:not(.active):hover {
    color: rgb(6, 196, 6);
    border-bottom: 1px solid rgb(6, 196, 6);
}

.active:active,
.navlinks li a:not(.active):active {
    opacity: .6;
}

.fa-bars {
    font-size: 1.8rem;
    display: none;
}

#check {
    display: none;
}

main {
    margin-block-start: 2rem;
    margin-inline: 5rem;
}

.home-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preface h2 {
    font-size: 2.2rem;
    line-height: 2.5rem;
    margin-block-end: 1rem;
}

.preface p {
    width: 480px;
    font-size: 1.2rem;
    text-wrap: wrap;
    font-weight: 600;
    margin-block-end: 2rem;
}

.preface a {
    background-color: rgb(6, 196, 6);
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: .8rem 1.5rem;
    border-radius: 5px;
    transition: opacity .3s ease-in-out;
}

.preface a:hover {
    opacity: .8;
}

.preface a:active {
    opacity: .7;
}

.agric {
    color: rgb(6, 196, 6);
    position: relative;
}

.agric::after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 3px solid rgb(6, 196, 6);
    left: 0;
    bottom: -10px;
    border-radius: 50%;
    height: 8px;
}

.img-container img {
    height: 500px;
    width: 600px;
    object-fit: contain;
}

@media (max-width: 568px) {
    header {
        padding-inline: 1.2rem;
    }
    h1 {
        font-size: 1.2rem;
    }
    .navlinks {
        flex-direction: column;
        align-items: center;
        background-color: rgb(6, 196, 6);
        position: fixed;
        right: 0;
        top: 55px;
        width: 70%;
        height: 100vh;
        gap: 4rem;
        padding-block-start: 2rem;
        transform: translateX(100%);
        transition: all .3s ease-in-out;
    }
    .navlinks li {
        padding-inline-start: 0;
    }
    .navlinks li a:not(.active) {
        font-size: 1.2rem;
        color: white;
        text-transform: uppercase;
    }
    .navlinks li a:not(.active):hover {
        color: white;
    }
    .active {
        color: white;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    .fa-bars {
        display: block;
    }
    #check:checked~.navlinks {
        transform: translateX(0);
    }
    .navlinks div {
        position: absolute;
        bottom: 6%;
    }
    .copyright {
        display: block;
    }
    main {
        margin-block-start: 3rem;
        margin-inline: 1.2rem;
    }
    .home-page {
        flex-direction: column;
        text-align: center;
        gap: 5rem;
    }
    .preface h2 {
        margin-block-end: 1.5rem;
        font-size: 2rem;
    }
    .preface p {
        width: 100%;
        margin-block-end: 3rem;
    }
    .img-container img {
        height: 200px;
        width: 300px;
    }
}