* {
	box-sizing: border-box;
}

body{
	width: 100%;
	height: 100%;
}

form{
	width: 300px; /* estabelece um limite de tamanho */
	margin: 200px auto; /* estabelece uma margem criando uma centralizacao */
}

input{
	display: block;
	margin: 10px auto;
	width: 250px;
}