* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Começo da estilização do cabeçalho*/

.cabecalho {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

.cabecalho h1 {
  font-size: 40px;
}

/* Fim da estilização do cabeçalho*/

/* Inicio da estilização da barra de navegação */

.barraDeNavegacao {
  overflow: hidden;
  background-color: #333;
}

/* estilização barra de navegação */
.barraDeNavegacao a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.barraDeNavegacao a.direita {
  float: right;
}

/* Change color on hover */
.barraDeNavegacao a:hover {
  background-color: #ddd;
  color: black;
}

/* Fim da estilização da barra de navegação */

/* container das colinas */
.row {  
  display: flexbox; /* IE10 */
  display: flex;
  flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Começo da criação das duas colunas */
/* Sidebar/coluna da esquerda */
.side {
  flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Coluna principal */
.principal {   
  flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Dimensionado apenas para o site exemplo */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Fim da criação das duas colunas */

/* Inicio do footer Footer */

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Fim do footer */

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}