
.column {
	float: left;
	width: 25%;
	height: 300px;
}

.primeiro{
	background-color: #aaa;
}

.segundo{
	background-color: #bbb;;
}

.terceiro{
	background-color: #ccc;;
}

.quarto{
	background-color: #ddd;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}