
html {
	scroll-behavior: smooth; /* Adiciona a mudança suave de um ponto para o outro */
}

#primeiraSessao{
	height: 600px;
	background-color: yellow;
}

#segundaSessao{
	height: 600px;
	background-color: pink;
}