.secaoHeroi {
  padding: 6rem 3.2rem; /* Cria o espaçamento */
  background-color: #fcc419;
}

.heroi-content {
  max-width: 120rem;
  margin: 0 auto;
}

.paragrafoHeroi{ 
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 4.4rem;
}

.heroiClientesImagens{
  display: flex;
  align-items: center;
}

.heroiClienteImagens{
  width: 9%;
  border-radius: 50%; /* Transforma em circulo */
  border: 3px solid #fff;
  margin-left: -1.7rem; /* Deixa eles mais coladinhos */
}

.clientesSpan{
  font-weight: 900;
  color: #191402;
}

.heroiClienteImgPara{
  margin-left: 3.2rem;
  font-size: 2rem;
  font-weight: 500;
}

.hetoiImg{
  width: 75%;
  border-radius: 7px;
  justify-self: center;
  box-shadow: 0 1rem 1rem #191402;

}

.heroiGrid {

}