
.column {
	float: left;
	height: 300px;
}

.primeiro{
	background-color: #aaa;
	width: 30%;

}

.segundo{
	background-color: #bbb;
	width: 20%;
}

.terceiro{
	background-color: #ccc;
	width: 30%;
}

.quarto{
	background-color: #ddd;
	width: 20%;
}