body{
	width: 100vw;
	display: flex;
	justify-content: center;
	font-family: Arial;
	flex-direction: column;
	align-items: center;
}

.barraDeBuscador{
	margin-bottom: 20px;
	margin-top: 50px;
	text-align: center;
}

.barraDeBuscador > input {
	width: 500px;
	height: 30px;
	font-size: large;
}