
.column{
	float: left;
	width: 33.33%;
	height: 300px;
}

.row:after{
	content: "";
	display: table;
	clear: both;
}

.primeiro{
	background-color: #aaa;
}

.segundo{
	background-color: #bbb;
}

.terceiro{
	background-color: #ccc;
}

