.botao{
	border: 2px solid black;
  	color: black;
  	padding: 14px 28px;
  	font-size: 16px;
  	cursor: pointer;
}

.sucesso{
	border-color: #04AA6D;
	color: white;
}

.sucesso:hover{
	background-color: #04AA6D;
	color: white;
}

.informacao{

}

.informacao:hover{
	
}