body{
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
}

.container{
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 20px;
	flex-wrap: wrap;
}

.card:hover{
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card{
	background-color: white;
	border: 1px solid #17edfd;
	border-radius: 5px;
	width: 200px;
	text-align: center;
	box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
	transition: 0.5s; /* */
}

.card img{
	width: 100%;
	height: auto;
	border-bottom: #666;
	border-radius: 5px 5px 0 0;
}

.card-content{
	padding: 15px;
}

.card-title:hover{
	background: #2f3c5e;
}

.card-title {
	color: #d32f2f;
	font-size: 0.9em;
	line-height: 1.4;
	background: #03eafa;
	border-radius: 5px;
	border: 2px solid rgb(237, 16, 16);
	transition: 0.5s;
}

.card-text{
	color: #666;
	font-size: 0.9em;
	line-height: 1.4;
}