
.modal{ 
	display: none; /* Deixa a aplicação escondida */
	position: fixed;
	z-index: 1; /* Define no top da pagina. Se tiver algo ela fica em cima dessa coisa */
	left: 0;
	top: 0;
	overflow: auto; /* impede a opção de rolagem */
	width: 100%; /* largura completa */
	height: 100%; /* Altura completa */
	background-color: rgb(0,0,0); /* define uma cor de fundo */
	background-color: rgba(0,0,0,0.4); /* preto com opacidade */

}

.conteudoModal{
	background-color: #fefefe;
	margin: 15% auto; /* centraliza: define uma altura de 15% e a largura varia */
	padding: 20px;
	border: 1px solid #888; /* Define bordas para o modal */
	width: 80%; /* Define o tamanho da borda */
}

.fechar{
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold; /* Engrossa a letra */
}

.fechar:hover, .fechar:focus{
	color: black;
	text-decoration: none;
	cursor: pointer;
}
