.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Destaca o ard geranddo uma ssombra atrás */
	max-width: 300px; /* tamanho maximo largura */
	margin: auto; /* de alguma forma centraliza no centro da pagina*/
	text-align: center; /* centraliza todos os textos no card */
}

.imgPhil{
	width: 100%; /* Preenche todo o espaço definido no card, que é a largura maxima de 300px */
	max-height: 380px;
}

.Titulo{
	font-size: 18px; /* Define tamanho do texto */
	color: #4d4d4d;
}

a {
	text-decoration: none;
	font-size: 22px;
	color: #000000;
}

.botao:hover, a:hover{
	opacity: 0.7;
	cursor: pointer;
}