.botao{
	background-color: #2196F3;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.menus-suspensos{

}

.menus-suspensos-conteudo{
	
}

.menus-suspensos-conteudo a{
	
}

.menus-suspensos-conteudo a:hover{
	background-color: #DDD;
}

/*
	Muda a cor do fundo dos menus suspensos quando 
	os menus suspensos aparecem
*/

.botao:hover, .menus-suspensos:hover, .botao{ 
	background-color: #0B7DDA;
}